<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:sqlserver://MPISCOPINGDBSVR:1433;databaseName=Mace;instanceName=SCOPINGSVR</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
      <mapping class="com.basicauth.data.DiagnosticProceduresEntity"/>
      <mapping class="com.basicauth.data.DiagnosisEntity"/>
      <mapping class="com.basicauth.domain.dups.MacereqConsult"/>
      <mapping class="com.basicauth.domain.dups.MaceConsPrescribedtest"/>
  </session-factory>
</hibernate-configuration>